body{
    background-color: black;
    font-family: Helvetica;
    color: white;
    background: url(backgroundDP3.jpg) no-repeat center center / cover fixed;
    }
    
h1{
    text-align: center;
}

