@font-face {
    font-family: "Palace-Script-Regular";
    src: url(Palace-Script-Regular.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    font-family: Helvetica;
    color: white;
    background: url(backgroundDP.jpg) no-repeat center center / cover fixed;
}

body h2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 240px;
    font-family: Palace-Script-Regular;
    font-size: 50px;

    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 240px;
    width: 240px;
}

.album-scene{
    display: flex;
    flex-direction: row;
    padding-left: 160px;
}

a{
    color: white;
    text-decoration: none;
}


